{% extends 'base.html' %}

{% block title %}
Добавление
{% endblock %}

{% block body%}
<div class="container mt-5">
    <form method="post">
        <p>АВТОПОЛИВ<input name="AUTO" type="radio"></p>
        <p><br> Количество воды<input type="text" name="string1" id="string1" class="form-control"></p>
        <p><br> Порог влажности<input type="text" name="string2" id="string2" class="form-control"></p>
        <p><br> Порог уровня воды в баке<input type="text" name="string3" id="string3" class="form-control"></p>
        <p>Доп. полив<input name="dop" type="radio"></p>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
    {{ articles }}
</div>
{% endblock %}
